<h1>Flights</h1>

<%= form_tag(root_path, method: :get) do %>

<%= label_tag(:origin_airport_id, "Origin Airport")%>
<%= select_tag(:origin_airport_id, 
									options_for_select(@airport_options, 
																					params[:origin_airport_id])) %>

<%= label_tag(:destination_airport_id, "Destination Airport")%>
<%= select_tag(:destination_airport_id, options_for_select(@airport_options,params[:destination_airport_id])) %>

<%= label_tag(:start_date, "Start Date")%>
<%= select_tag(:start_date, options_for_select(@flight_dates, params[:start_date])) %>

<%= label_tag(:passengers, "No. of Passengers") %>
<%= select_tag(:passengers, options_for_select([1,2,3,4], params[:passengers])) %>

<%= submit_tag("Search") %>

<% end %>

<% if !params[:commit].nil? %>

 <% if @available_flights.any? %>
	<%= form_tag( root_path, method: :get) do %>

	<% @available_flights.each do |f| %>

	<%= label_tag(:flight_id, f.origin_airport.code) %>
	<%= label_tag(:flight_id, f.destination_airport.code) %> 
	<%= label_tag(:flight_id, f.flight_time) %>
	<%= radio_button_tag(:flight_id, f.id) %>
	<br>
	<% end %>

	<%= hidden_field_tag(:passengers, params[:passengers]) %>
	<%= submit_tag("Choose Flight") %>

	<% end %>
	<% else %>

	<p>  No Available Flights </p>
		<% end %>
		<% else %>
	<p> Enter Details </p>
<% end %>