<h1>Your Booking</h1>
<%= @booking.flight.origin_airport.code %>
<%= @booking.flight.destination_airport.code %>
<%= @booking.flight.start_date_formatted %>
<%= @booking.flight.flight_time %>
<br>
<% @booking.passengers.map do |p| %>
<%= "Name: #{p.name}" %> <br>
<%= "email: #{p.email}" %> <br>
<% end %>